---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: democratic-csi-driver-config
  namespace: storage
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: democratic-csi-driver-config
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |
          driver: synology-iscsi
          httpConnection:
            protocol: http
            host: "{{ .nasHost }}"
            port: 5000
            username: "{{ .dsmUsername }}"
            password: "{{ .dsmPassword }}"
            allowInsecure: true
            session: "democratic-csi"
            serialize: true
          synology:
            volume: /volume4
          iscsi:
            targetPortal: "{{ .nasHost }}:3260"
            interface: ""
            baseiqn: "{{ .nasIqn }}"
            namePrefix: ""
            nameSuffix: ""
            lunTemplate:
              type: "BLUN"
            lunSnapshotTemplate:
              is_locked: true
              is_app_consistent: true
            targetTemplate:
              auth_type: 0
              max_sessions: 0
  data:
    - secretKey: dsmUsername
      remoteRef:
        key: democratic-csi-dsm
        property: dsm-username
    - secretKey: dsmPassword
      remoteRef:
        key: democratic-csi-dsm
        property: dsm-password
    - secretKey: nasHost
      remoteRef:
        key: democratic-csi-dsm
        property: nas-host
    - secretKey: nasIqn
      remoteRef:
        key: democratic-csi-dsm
        property: nas-iqn
