---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi
  namespace: storage
spec:
  interval: 30m
  chart:
    spec:
      chart: democratic-csi
      version: 0.15.1
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    csiDriver:
      name: "org.democratic-csi.synology-iscsi"

    driver:
      existingConfigSecret: democratic-csi-driver-config
      configSecretKey: driver-config-file.yaml
      config:
        driver: synology-iscsi

    controller:
      enabled: true
      strategy: deployment
      externalAttacher:
        enabled: true
      externalProvisioner:
        enabled: true
      externalResizer:
        enabled: true
      externalSnapshotter:
        enabled: true

    node:
      hostPID: true
      driver:
        extraEnv:
          - name: ISCSIADM_HOST_STRATEGY
            value: nsenter
          - name: ISCSIADM_HOST_PATH
            value: /usr/bin/iscsiadm
        iscsiDirHostPath: /etc/iscsi
        iscsiDirHostPathType: ""
