---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: emqx-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: ./deploy/charts/emqx-operator
      sourceRef:
        kind: GitRepository
        name: emqx-operator
        namespace: flux-system
      interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    fullnameOverride: emqx-operator
    image:
      repository: ghcr.io/emqx/emqx-operator
