---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mosquitto:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: eclipse-mosquitto
              tag: 2.0.20
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 150Mi
    service:
      app:
        controller: mosquitto
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "10.0.0.236"
        ports:
          mqtt:
            port: 1883
    persistence:
      config:
        type: configMap
        name: mosquitto-config
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
            readOnly: true
      data:
        existingClaim: mosquitto-data
        globalMounts:
          - path: /mosquitto/data