---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: picstome-storage
  namespace: gkphoto
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: longhorn
