---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: pvc-snapshots
  namespace: flux-system
spec:
  targetNamespace: storage
  dependsOn:
    - name: democratic-csi
  path: ./kubernetes/apps/storage/pvc-snapshots/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 30m
