---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: postgres
spec:
  schedule: "0 1 * * *"  # Daily at 1 AM
  immediate: true
  backupOwnerReference: self
  cluster:
    name: postgres
