---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie-init-db
  namespace: mealie
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: mealie-init-db
    creationPolicy: Owner
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  data:
    - secretKey: INIT_POSTGRES_HOST
      remoteRef:
        key: mealie-init-db
        property: INIT_POSTGRES_HOST
    - secretKey: INIT_POSTGRES_DBNAME
      remoteRef:
        key: mealie-init-db
        property: INIT_POSTGRES_DBNAME
    - secretKey: INIT_POSTGRES_SUPER_PASS
      remoteRef:
        key: mealie-init-db
        property: INIT_POSTGRES_SUPER_PASS
    - secretKey: INIT_POSTGRES_USER
      remoteRef:
        key: mealie-init-db
        property: INIT_POSTGRES_USER
    - secretKey: INIT_POSTGRES_PASS
      remoteRef:
        key: mealie-init-db
        property: INIT_POSTGRES_PASS

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie-secret
  namespace: mealie
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: mealie-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  data:
    - secretKey: POSTGRES_USER
      remoteRef:
        key: mealie-pg
        property: POSTGRES_USER
    - secretKey: POSTGRES_PASSWORD
      remoteRef:
        key: mealie-pg
        property: POSTGRES_PASSWORD
    - secretKey: POSTGRES_SERVER
      remoteRef:
        key: mealie-pg
        property: POSTGRES_SERVER
    - secretKey: POSTGRES_DB
      remoteRef:
        key: mealie-pg
        property: POSTGRES_DB

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie-openai-secrret
  namespace: mealie
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: mealie-openai-secrret
    creationPolicy: Owner
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  data:
    - secretKey: OPENAI_API_KEY
      remoteRef:
        key: openai-key
        property: OPENAI_API_KEY

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie-smtp
  namespace: mealie
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: mealie-smtp
    creationPolicy: Owner
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  data:
    - secretKey: SMTP_HOST
      remoteRef:
        key: mealie-smtp
        property: SMTP_HOST
    - secretKey: SMTP_PORT
      remoteRef:
        key: mealie-smtp
        property: SMTP_PORT
    - secretKey: SMTP_USER
      remoteRef:
        key: mealie-smtp
        property: SMTP_USER
    - secretKey: SMTP_PASSWORD
      remoteRef:
        key: mealie-smtp
        property: SMTP_PASSWORD
    - secretKey: SMTP_FROM_EMAIL
      remoteRef:
        key: mealie-smtp
        property: SMTP_FROM_EMAIL
    - secretKey: SMTP_AUTH_STRATEGY
      remoteRef:
        key: mealie-smtp
        property: SMTP_AUTH_STRATEGY
