---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      interval: 30m
  # Force reconciliation after HelmRelease deletion
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  install:
    createNamespace: false
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5

  values:
    controllers:
      mealie:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          enableServiceLinks: false

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18.3"
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: mealie-init-db

        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.9.2
              pullPolicy: IfNotPresent

            env:
              TZ: America/Denver
              BASE_URL: https://mealie.${SECRET_DOMAIN}
              ALLOW_SIGNUP: "true"
              API_DOCS: false
              API_PORT: "9000"
              DB_ENGINE: postgres
              PUID: 1000
              PGID: 1000
              OPENAI_ENABLE_IMAGE_SERVICES: True
              SMTP_FROM_NAME: Mealie
              OPENAI_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: mealie-openai-secrret
                    key: OPENAI_API_KEY
            envFrom:
              - secretRef:
                  name: mealie-secret
              - secretRef:
                  name: mealie-smtp
            resources:
              requests:
                cpu: 300m
                memory: 1536Mi
              limits:
                cpu: 3000m
                memory: 3Gi

    service:
      mealie:
        controller: mealie
        ports:
          http:
            port: 9000
    ingress:
      mealie:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: "mealie.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: mealie
                  port: http
        tls:
          - hosts:
              - "mealie.${SECRET_DOMAIN}"
      mealie-internal:
        enabled: true
        className: internal
        annotations:
          # internal ingress does not update DNS
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
          nginx.ingress.kubernetes.io/send-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-buffering: "off"
        hosts:
          - host: "mealie.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: mealie
                  port: http
        tls:
          - hosts:
              - "mealie.${SECRET_DOMAIN}"
    persistence:
      data:
        existingClaim: mealie-pvc-migrate
        advancedMounts:
          mealie:
            app:
              - path: /app/data
      tmp:
        type: emptyDir
